@font-face {
    font-family: 'Billabong';
    src: url('../font/Billabong.otf') format('opentype');
}

body {
    background-color: skyblue;
}
.logo-text {
    font-family: 'Billabong', sans-serif;
    font-size: 40px;
}