{% extends 'base.html.twig' %}
{% block body %}
       <nav class="navbar fix-top bg-body-tertiary">
                <a href="">Acceuil</a>
                <a href="">Article</a>
                <a href="">A propos</a>
       </nav>

       <div>
                
       </div>
{% endblock %}