<div class="container bg-light w-75 p-4 rounded bg-flex flex-column " style="margin-top:25px">
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary" style="margin-left:880px">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
</div>
